:root {
    --main-color: #4E67EB;
    --background-color: #F4F6F7;
    --dark-color: #000;
    --white-color: #fff;
}

.icon {
    font-size: 1.875em;
    text-decoration: none;
    color: var(--dark-color);
    transition: 0.3s;
}

.icon:hover {
    color: var(--main-color);
}

.fill:hover {
    color: var(--main-color);
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: var(--white-color);
    transition: 0.3s;
    font-weight: 700;
    font-size: 0.875em;
    text-transform: uppercase;
    border-radius: 5px;
}

.btn-primary {
    padding: 16px 24px;
    background-color: var(--main-color);
}
.btn-primary:hover {
    background-color: #3749a3;
}

.btn-link {
    display: inline-block;
    text-decoration: none;
    color: var(--main-color);
    transition: 0.3s;
    font-weight: 700;
    font-size: 0.875em;
    text-transform: uppercase;
    border-radius: 5px;
}

.btn-link:hover {
    color: var(--main-color);
}

.radius {
    border-radius: 5px;
}

.radius-top {
    border-radius: 5px 5px 0 0;
}

.badge {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    text-transform: lowercase;
    border-radius: 1rem;
    padding: .25em .85em;
    line-height: 1;
    text-align: center;
    vertical-align: baseline;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.badge-primary {
    color: var(--white-color);
    background-color: var(--main-color);
}