  
/*
*
* @author Mikael Santilio 
*/
/* Layout
  -------------------------*/
  html,body,#home{
    height: 100%;
    overflow-x: hidden;
}
body{ 
  font-family: "Public Sans", "Ubuntu", "Segoe UI", Arial, sans-serif;
}
#home {
background: url('../img/bg-home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 500px 40px;
    border-bottom-right-radius:500px 40px;
}
/* Navegação
  -------------------------*/
  nav.navbar-transparente {
    background: rgba(0, 0, 0, 0.6);
    padding: 6px 10px;
  }
  .navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
  }
  .navbar-light .navbar-nav .nav-link:hover{
    color: #9bf0e1;
  }
  .navbar-light .navbar-toggler {
      color: rgba(255,255,255,.5);
      border-color: rgba(0,0,0,.0);
    }
    .navbar-transparente.scrolled {
        background: rgba(0, 0, 0, 0.6) !important;
        transition: background-color 200ms linear; 
    }
  /* Capa
    -------------------------*/
  .btn-custom{
      color:#fff;
      border-radius: 5px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      font-weight: 700;
      transition: background 0.4s, color 0.4s;
      padding: 12px 36px;
  
  }
  .btn-azul{
      background: #5352ed;
  }
  .btn-azul:hover{
      background: #3742fa;
      color: #fff;
  } 
  /* Tipografia
    -------------------------*/
  h1{
      font-weight: 700;
      letter-spacing: -0.05em;
      margin-bottom: 48px;
      color:white;
  }
  h2 {
    font-weight: 700;
    letter-spacing: -0.05em;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  h3{
      font-size: 1.25em;
      font-weight: 400;
      letter-spacing: -0.04em;
      text-transform: uppercase;
  }

  /* Icons */
.icon {
    width: 24px;
    height: 24px;
    display: block;
}
.github {
    background-image: url("../img/icon-github.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
.linkedin {
    background-image: url("../img/icon-linkedin.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}