  
/*
*
* @author Mikael Santilio 
*/
/* Layout
  -------------------------*/
  html,body,#home{
    height: 100%;
    overflow-x: hidden;
}
body{
  background: url('../img/bg-home.png');
  background-size: 100%;
  background-attachment: fixed;
  font-family: "Segoe UI",Arial,sans-serif;
}

h1 {
    font-size: 64px;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 600;
}
