/* Dispositivos extra small */
@media (max-width: 575.98px) {
    .btn-custom{
        margin: 10px 15px;
    }
    .texto-sobre-mim {
        margin-top: 25px;
    }
    .nav-icon {
        display: none;
    }
 }

/* Dispositivos small */
@media (min-width: 576px) and (max-width: 767.98px) {
    .btn-custom{
        margin: 10px 15px;
    }
    h1{
        font-size: 2.5em;
    }
    .texto-sobre-mim {
        margin-top: 25px;
    }
    .nav-icon {
        display: none;
    }
 }

/* Dispositivos médios */
@media (min-width: 768px) and (max-width: 991.98px) {
    h1{
        font-size: 3em;
    }
    nav.navbar-transparente {
        background: rgba(0, 0, 0, 0.0);
    }
    .texto-sobre-mim {
        margin-top: 25px;
    }
 }

/* Dispositivos large*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1{
        font-size: 4em;
    }
    nav.navbar-transparente {
        background: rgba(0, 0, 0, 0.0);
    }
 }

/* Dispositivos extra large */
@media (min-width: 1200px) {
    h1{
        font-size: 4.5em;
    }
    nav.navbar-transparente {
        background: rgba(0, 0, 0, 0.0);
    }
 }